# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# OS files
.DS_Store
Thumbs.db

# Editor config
.vscode/
.idea/

# Logs
*.log

# Env variables
.env

#Data files
data/
presets/

#pyinstaller files
dist/
build/
*.spec

#Other files
.DS_Store
